<h2><b><i><%= "Welcome #{@user.username}" %> </br> </br></br></i></b></h2>
<br>
<br>

       <%a=Time.now.in_time_zone('Mumbai')%>
             <%if (10<=a.hour)&&(00==a.min)%> 
				<%= " You Logged at right time  : #{a}"%> 
		     <%else%>
				<font color="red"><%= "You Logged late  : #{a}"%></font>
		   	 <%end%>
<% #arrival_time= Time.now %>


<%= button_to "Logout" ,{:action=> "logout" , :controller =>"sessions",:method=>"post"} %>


